:root {
  --group-number: 0;
  --group-height: 400px;
  --prev-height: 0;
  --header-rate: 0.25s;
  --out-delay: 0.12s;
  --elevated-group-count: 1;
  --total-items: 1;
  --item-number: 1;
}

.item,
.child-list {
  @apply invisible -translate-y-2 opacity-0  lg:translate-y-0;
  transition-delay: calc(0.2s + (var(--item-number) * 20ms));
  transition-duration: 0.24s;
  transition-property: opacity, transform, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1),
    cubic-bezier(0.4, 0, 0.6, 1);
}

.item {
  @apply translate-y-0 lg:visible lg:relative lg:z-20 lg:opacity-100;
}

.header-container {
  @apply bg-white/0 dark:bg-neutral-950/0;
  transition: all cubic-bezier(0.4, 0, 0.6, 1) 0.24s;
  transition-delay: 0.22s;
  @apply h-[--nav-height] lg:h-[--nav-height];
}

.show-items .header-container {
  @apply bg-white/100 dark:bg-neutral-950/100;
  @apply h-screen lg:h-[--nav-height];
  transition-delay: 0s;
}

.navbar {
  @apply invisible opacity-0 lg:visible lg:opacity-100;
  transition-delay: 0s;
  transition-duration: 0.24s;
  transition-property: opacity, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1),
    cubic-bezier(0.4, 0, 0.6, 1);
}

.show-items .item {
  transition-delay: 0.24s;
}

.show-items .child-list {
  transition-delay: 0s;
}

.show-items .navbar {
  @apply visible opacity-100;
}

/*on active*/
.show-items .item {
  @apply visible translate-y-0 opacity-100;
}

.step-2 .item {
  transition-delay: 0s;
  @apply invisible translate-x-2 opacity-0 lg:visible lg:translate-x-0 lg:opacity-100;
}

.child-list {
  @apply overflow-auto;
  @apply invisible absolute bottom-0 left-0 right-0 top-11 h-screen opacity-0 lg:top-0 lg:h-auto lg:overflow-hidden;
  @apply -translate-x-2 lg:h-0;
}

.show-items .pop-child .child-list {
  @apply visible translate-x-0 opacity-100 lg:h-[--group-height];
}

@screen lg {
  .item-groups {
    --group-delay: min(
      (var(--elevated-group-count) * 80ms) +
        ((var(--group-number) - var(--elevated-group-count)) * 40ms),
      var(--group-number) * 80ms
    );
  }

  .child-items {
    @apply -translate-y-2 opacity-0;
    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1),
      cubic-bezier(0.4, 0, 0.6, 1);
    transition-duration: 0.32s;
    transition-delay: calc(
      var(--group-delay) + var(--item-number) * 20ms + 50ms
    );
  }

  .step-2 .child-items {
    @apply translate-y-0 opacity-100;
    transition-duration: 0.32s;
    transition-delay: calc(
      var(--group-delay) + var(--item-number) * 20ms + 50ms
    );
  }

  .child-list {
    @apply invisible translate-x-0 opacity-0 lg:translate-y-0;
    @apply translate-y-0;
  }
}

.back-btn {
  @apply pointer-events-none z-50 -translate-x-2 cursor-pointer opacity-0 transition-all;
  transition-duration: 0.24s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}

.step-2 .back-btn {
  @apply pointer-events-auto translate-x-0 opacity-100;
}
